body{
  font-family: 'Times New Roman', Times, serif;
}
body a{
  text-decoration: none;
  color: black;
}
header{
  display: flex;
  padding: 2%;
  background-color: #fdf0e6;
  position: fixed;
  width: 100%;
  z-index: 3;
}
header button{
  border: none;
  border-radius: 30px;
  padding: 10px 20px 10px;
  color: white;
  background-color: #f08e80;
  font-size: medium;
}
header a{
  margin-left: 2%;
  margin-top: 10px;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}
.logo{
  width: 11%;
}
.fa-solid{
  margin-top: 25px;
  margin-left: 35%;
}
.top{
  padding-top: 13%;
  background-color: #fdf0e6;
  display: flex;
}
.inner{
  padding: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  width: 43%;
}
.inner h1{
  color: #f08e80;
  font-size: 70px;
  margin-bottom: 20px;
}
h1{
  width: 70%;
  margin: 10%;
}
.container{
  font-family: 'Times New Roman', Times, serif;
  line-height: 50px;
}
.container h2{
  font-weight: bold;
  text-align: center;
}
.container p{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}
.container ul{
  font-size: 20px;
  font-style: italic;
}
.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lev{
  margin-top: 120px;
}