body{
  font-family: 'Times New Roman', Times, serif;
}
body a{
  text-decoration: none;
  color: black;
}
body a:hover{
  color: inherit;
}
header{
  display: flex;
  padding: 2%;
  background-color: #fdf0e6;
  position: fixed;
  width: 100%;
  z-index: 3;
}
header button{
  border: none;
  border-radius: 30px;
  padding: 10px 20px 10px;
  color: white;
  background-color: #f08e80;
  font-size: medium;
}
header a{
  margin-left: 2%;
  margin-top: 10px;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}
.dropdown{
  margin-top: 0.6%;
  margin-left: 2%;
}
.logo{
  width: 11%;
}
.fa-solid{
  margin-top: 25px;
  margin-left: 35%;
}
.top{
  padding-top: 13%;
  background-color: #fdf0e6;
  display: flex;
}
.inner{
  margin-top: 7%;
  padding: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  width: 43%;
}
.inner h1{
  color: #f08e80;
  font-size: 70px;
  margin-bottom: 20px;
  text-align: center;
}
.lower{
  width: 30%;
  margin: 10%;
  text-align: center;
  margin-left: 35%;
}
.low{
  font-family: 'Times New Roman', Times, serif;
  line-height: 50px;
}
.low h2{
  font-weight: bold;
  text-align: center;
}
.low p{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}
.low ul{
  font-size: 20px;
  font-style: italic;
}
.low img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lev{
  margin-top: 120px;
}
.lap{
  display: flex;
  margin-top: 10%;
  margin-left: 17%;
  margin-bottom: 10%;
}
.text{
  padding: 5% 3% 18%;
  background-color: #fffde5;
  font-size: 35px;
  width: 33%;
  height: 10%;
  position: absolute;
  margin-left: 32%;
  margin-top: 1.7%;
}
.slide{
width: 1500px;
}
.same{
  height: 700px;
  width: 1500px;
}
.down{
  color: #f08e80;
  text-align: center;
}
.mid{
  background-color: #fdf0e6;
  text-align: center;
  margin-bottom: 50%;
}
.mid img{
  width: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
.mid h2{
  color: #f08e80;
  margin-top: 10%;
  margin-bottom: 5%;
}
.mid h5{
  width: 75%;
  margin-left: 12%;

}
.mid button{
  background-color: #f08e80;
  color: white;
  padding: 3% 7% 3%;
  border-radius: 25px;
  border: none;
  margin-top: 10%;
}
#bet{
  margin: 16.9% 0% 5%;
}
#but{
  margin: 11% 0% 5%;
}
#bot{
  margin: 17% 0% 5%;
}
.two{
  color: #f08e80;
  font-size: 50px;
  text-align: center;
  margin-bottom: 3%;
}
.twin{
  color: #f08e80;
  text-align: center;
  font-style: italic;
  margin-bottom: 7%;
}
.twin a{
  color: #f08e80;
}
.there img{
  width: 90%;
  height: 250px;
  margin-top: 17%;
}
.end{
  margin-top: 10%;
  background-color: #fdf0e6;
  padding: 7% 8% 6%;
}
.end footer{
  font-size: 40px;
  margin-top: 3%;
  color: black;
  margin-bottom: 10%;
}
.fa-facebook-f{
  margin-left: 50%;
}
.fa-instagram{
  margin-left: 2%;
}
.icons{
  margin-bottom: 3%;
}
.end a{
  text-decoration: underline;
  color: #f08e80;
  margin-left: 48%;
  font-size: 20px;
}
.fixed-bottom{
  margin-left: 96%;
  width: 3%;
  margin-bottom: 1%;
}